---
import "../../styles/global.css";

function questionOne() {
  document.getElementById("answer-3").style.backgroundColor = "red";
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Avidu | About Me</title>
    <meta
      name="description"
      content="Browse to see the case studies of web design, web development projects, and other design stuff done to the different clients around the world."
    />
  </head>

  <body>
    <main>
      <div class="image-container">
        <img src="me.png" alt="Image of Avidu" />
      </div>
      <div class="description-container">
        <div class="description">
          <h1>
            I'm a web designer and developer, based in Kumbukgete, Sri Lanka.
            Loving designing and developing websites. I learned web design and
            most of my other stuf by myself without attending to the colleges.
          </h1>
        </div>
        <a href="/projects" class="project-button">
          <button>PROJECTS</button>
        </a>
      </div>

      <div class="about-grid">
        <div class="about-item-1 circle"><h2>FOUNDATIONS</h2></div>
        <div class="about-item-2"><h3>SIMPLICITY</h3></div>
        <div class="about-item-3"><h3>DESIREBLE</h3></div>
        <div class="about-item-4"><h3>UNORTHADOX</h3></div>
      </div>

      <div class="faq-container">
        <div class="question-box">
          <div class="question" id="question-1" onclick="questionOne()"><p>Question one?</p></div>
          <div class="question" id="question-2"><p>Question two?</p></div>
          <div class="question" id="question-3"><p>Question three?</p></div>
        </div>
        <div class="answer-box">
          <div class="answer" id="answer-1"><p>Answer One</p></div>
          <div class="answer" id="answer-2"><p>Answer Two</p></div>
          <div class="answer" id="answer-3"><p>Answer Three</p></div>
        </div>
      </div>
    </main>
  </body>
</html>

<style>
  button {
    background-color: transparent;
    border: none;
    color: white;
  }
  a {
    text-decoration: none;
  }
  img {
    height: 500px;
    width: 500px;
    object-fit: fill;
    margin: 0 auto;
  }
  .image-container {
    display: flex;
    background-color: black;
  }
  .description-container {
    background-color: black;
    display: grid;
    max-width: 1200px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;

    justify-content: center;
    align-items: center;
  }
  .description {
    background-color: rgb(36, 36, 36);
    margin: 5vh;
    padding: 2vh;
    border-radius: 5px;
    color: white;
  }
  .project-button {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: solid white 3px;
    border-radius: 50%;
    margin: 5vh;
  }
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
  }
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin: 0 auto;
  }
  .circle {
    border-radius: 50%;
  }
  .about-grid {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    gap: 1vh;
    margin: 0 auto;
  }
  .about-item-1, .about-item-2, .about-item-3, .about-item-4 {
    background-color: #AAE5FF;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .faq-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    color: white;
  }
  .answer-box {
    position: relative;
  }
  .answer {
    position: absolute;
    background-color: rgb(49, 49, 49);
  }

  #answer-1, #answer-2, #answer-3 {
    z-index: 0;
  }

  #answer-3 {
    background-color: yellow;
  }
</style>
