---
import "../../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Avidu | About Me</title>
  </head>

  <body>
      <main>
        <div>
          <div class="image-container"></div>
          <div class="description-container">
            <div class="description"></div>
            <div class="project-button"></div>
          </div>
        </div>
        <div class="about-grid">
          <div class="about-item circle"></div>
          <div class="about-item"></div>
          <div class="about-item"></div>
          <div class="about-item"></div>
        </div>
      </main>
  </body>
</html>

<style>
  h2 {
    margin: 0;
    padding: 0;
  }
  img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  .large-text {
    font-size: 38vh;
    word-wrap: break-word;
  }

  .small-text {
    padding: 1vh;
    font-size: 2vh;
    color: white;
    background-color: #1f1f1f;
  }

  .ctn {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    margin: 1vh;
    padding: 1vh;
    font-size: 8vh;
  }

  .btn button {
    background-color: #aae5ff;
    color: black;
    border: none;
    padding: 1vh;
    border-radius: 500px;
    font-size: 3vh;
    font-weight: bold;
    padding: 2vh;
    cursor: pointer;
  }

  .btn {
    align-self: flex-end;
    cursor: pointer;
  }
</style>
