---
const { title } = Astro.props;
import "../styles/global.css";
import "./Navigation.css";
---

<div class="navigation">
  <div>
    <button onclick="history.back()">&#8592;</button>
  </div>
  <div>
    <h1>{title}</h1>
  </div>
</div>
